<p>
  volunteer-dash works!
</p>
<mat-tab-group>
  <mat-tab label="First"> Volunteer Dashboard 
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>
          <app-stats></app-stats>
      </mat-grid-tile>
      <mat-grid-tile>
          <app-register></app-register>
      </mat-grid-tile>
    </mat-grid-list>
    <hr>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
          <img mat-card-image src="https://www.thecognizant.com/site/assets/files/1126/outreach-e1519135376902.1200x450.jpg" alt="COGNIZANT OUTReach">
      </mat-grid-tile>
      <mat-grid-tile>
        <!-- <mat-grid-tile-header>LOGIN</mat-grid-tile-header> -->
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Login</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form class="example-form">
              <table class="example-full-width-v2" cellspacing="0">
                <tr>
                  <td>
                    <mat-form-field class="example-full-width-v2">
                    <input matInput placeholder="Employee ID" [(ngModel)]="empid" name="empid" required>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                <td><mat-form-field class="example-full-width-v2">
                  <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
                </mat-form-field></td>
              </tr></table>
            </form>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="handleLogin()" color="primary">Login</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
  </mat-tab>
  <mat-tab label="Second"> Events Grid
      <app-event-dash></app-event-dash>
  </mat-tab>
</mat-tab-group>